@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{margin: 0;padding: 0;box-sizing: border-box;}

body{
    min-height: 100vh;
    text-align: center;
    background-color: whitesmoke;
    font-family: 'Bebas Neue', cursive;
}
h1{
    padding: 1rem 0;
    letter-spacing: 5px;
}

.loader{
    position: fixed;
    top: 0;left: 0;right: 0;bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
}
.loader img{
    position: fixed;
    top: 50%;left: 50%;
    transform: translate(-50%, -50%);
}
.image-container{
    padding:0 1rem;
    display:grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;

}
.image-container a{
    text-decoration: none;
}
.image-container img{
    max-width: 100%;
    margin-bottom: 10px;
}

@media screen and (max-width:650px){
    .image-container{
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width:500px){
    h1{
        font-size: 22px;
        letter-spacing: 3px;
    }
}